body{
    text-align: center;
    background-color: lightgray;
}
.div_pre{
    width: 1000px;
    color: blue;
    text-align: left;
    background-color: snow;
    margin: auto;

}
.div_pre:hover{
    background-color: yellow;
}