/*
 *1、所有的字体的高度与宽度都要设计成百分比
 *
 *
 */

body{
    text-align: center;
    background-color:lightgray;
    margin: 0px;
}
a:link{
    /*定义正常的超链接*/
    color: black;
    text-decoration: none;
}
a:visited{
    /*访问过的网站*/
    color: red;
    text-decoration: underline;
}
a:hover{
    /*悬停时的颜色*/
    color: blue;
    text-decoration: none;
}
a:active{
    /*点击时的颜色*/
    color: red;
    text-decoration: underline;
}
.blank_of_black{
    width: 100%;
    height: 3px;
    background-color: black;
    position: fixed;
}
.main{
    margin: auto;
    width: 1500px;
    height: auto;
    background-color: lightgray;
}
/*一般浮动是什么情况呢？一般是一个盒子里使用了CSS float浮动属性，导致父级对象盒子不能被撑开，这样CSS float浮动就产生了*/
/*三种方式*/
/*
*1、对父级设置适合CSS高度
*对父级设置适合高度样式清除浮动，这里对“.divcss5”设置一定高度即可，一般设置高度需要能确定内容高度才能设置。这里我们知道内容高度是100PX+上下边框为2px，这样具体父级高度为102px
*2.clear:both清除浮动
*为了统一样式，我们新建一个样式选择器CSS命名为“.clear”，并且对应选择器样式为“clear:both”，然后我们在父级“</div>”结束前加此div引入“class="clear"”样式。这样即可清除浮动。
*3.父级div定义 overflow:hidden
*对父级CSS选择器加overflow:hidden样式，可以清除父级内使用float产生浮动。优点是可以很少CSS代码即可解决浮动产生。
*/
.left{
    width: 15%;
    position: relative;
    float:left;
    background-color: red;
    margin-right: 1%;
}
.right{
    width: 85%;
    position: relative;
    float: right;
    height: auto;
    background-color: lightgray;
    margin-top: 3px;
}
.bottom{
    clear: both;
    background-color:snow;
    color: lightgray;
}
.left_fixed{
    position: fixed;
}
.introduce{
    width: 100%;
    height: 370px;
    background-color: snow;
    border: outset;
    border-top:solid;
}
.contactMe{
    width:100%;
    height: 440px;
    margin-top:10px;
    border: outset;
    background-color: snow;
}
.introduceName{
    width: 100%;
    height: 120px;
    background-color: black;
    color: snow;
    padding-top: 7px;

}
.detailIntroduce{
    width: inherit;
    height:250px;
    text-align: left;
    margin-top: 10%;
}
.contactMe_aboutme{
    width: inherit;
    height: 175px;
   /* background-color: red;*/
    border-bottom: solid lightgray;
}
.contactMe_RSS{
    width: inherit;
    height: 40px;
  /*  background-color: goldenrod;*/
    border-bottom: solid lightgray;
}
.contactMe_myblogs{
    width: inherit;
    height: 115px;
    /*background: purple;*/
    border-bottom: solid lightgray;
}
.contactMe_others{
    width: inherit;
    height: 110px;
   /* background-color: aqua;*/
}
.right_divs{
    width: 100%;
    background-color: snow;
    margin: auto;
    margin-bottom: 10px;
}
.right_divs_top{
    border: outset;
    margin-bottom:20px;
    height: 1000px;
}
.right_divs_others{
    border: outset;
    height: 200px;
}
.right_divs_others:hover{
    background-color: lightyellow;
}
.right_divs_top_a{
    padding-top: 20px;
}
right_divs_others_a{

}
.right_img_top{
    margin-top: 20px        ;
    width: 90%;
    height: 70%;
}
.right_detail_introduce{
    width: 90%;
    margin: auto;
    text-align: left;
    text-indent: 2em;
}
.right_divs_others_photo{
    width: 30%;
    height: 100%;
    position: relative;
    float: left;
}
.right_divs_others_img{
    width: 80%;
    height: 80%;
    margin: 5% 10% 5% 10% ;
}
.detailIntroduce_all{
    width: 100%;
    height: 12%;
    /*background-color: blue;*/
    margin-bottom: 1%;
}
.detailIntroduce_all:hover{
    background-color: lightgray;
}
.detailIntroduce_img{
    margin-left: 10%;
    margin-right: 3%;
    width: 10%;
    height: 100%;
    position: relative;
    float: left;
}