body{
    text-align: center;
    background:url("../image/login.jpg") top center no-repeat;
    background-size:cover;
}

.login{
    margin: auto;
    margin: 15%;
}
.username{
    height: 30px;
    width: 200px;
}
.password{
    height: 30px;
    width: 200px;
}
.click_login{
    height: 30px;
    width: 40px;
}